# Dependencias
node_modules/
bun.lockb
package-lock.json

# Build
dist/
build/

# Entorno
.env
.env.local
.env.*.local

# Editor y sistema
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache de Vite
.cache/
